@charset "utf-8";
.nehan3-page div{
  margin:0;
  padding:0;
}
.nehan3-text-line-vertical,
.nehan3-ruby-line-vertical{
  font-family:'IPA明朝','Meiryo','メイリオ','ＭＳ 明朝','Hiragino Mincho Pro',monospace !important;
}
.nehan3-text-line-horizontal,
.nehan3-ruby-line-horizontal{
  font-family:'ＭＳ ゴシック', 'Meiryo','メイリオ', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック', monospace;
}
.nehan3-text-line a{
  text-decoration:none;
}
.nehan3-img img{
  border-color:#aaa;
  border-style:solid;
}

.nehan3-header,
.nehan3-caption{
  font-family:'Meiryo','メイリオ', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック',sans-serif;
}
.nehan3-label-line{
  background-color:#88b212;
  -moz-border-radius:0.25em;
  -khtml-border-radius:0.25em;
  -webkit-border-radius:0.25em;
  border-radius:0.25em;
}
.nehan3-label-line-body{
  color:#fff;
  font-weight:bold;
  font-family:'Meiryo','メイリオ', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック', sans-serif;
}
.nehan3-block-element,
.nehan3-page,
.nehan3-forked-page{
  border-style:solid;
  border-color:#aaa;
  border-width:0;
}
table.nehan3-block-element{
  border-collapse:collapse;
  border-spacing:0;
  font-family:'Meiryo','メイリオ', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック',sans-serif;
}
table.nehan3-block-element,
table.nehan3-block-element th, 
table.nehan3-block-element td{
  vertical-align:middle;
}
table.nehan3-block-element thead th {
  background:#c3d9ff;
}
table.nehan3-block-element th, 
table.nehan3-block-element td{
  padding:4px 10px 4px 5px;
}
.nehan3-page tfoot {
  font-style:italic;
}
table.nehan3-block-element tbody tr:nth-child(even) td, 
table.nehan3-block-element tbody tr.even td {
  background:#e5ecf9;
}

/* Nehan.Pagerize */
.nehan3-pagerize-screen-wrap{
  border-width:1px;
  border-color:#888;
  border-style:solid;
  -moz-border-radius:5px;
  -khtml-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.nehan3-text-line-horizontal .kw-cmt{
  color:darkred;
}
.nehan3-text-line-horizontal .kw-syntax{
  color:green;
  font-weight:bold;
}
.nehan3-text-line-horizontal .kw-string{
  color:darkgreen;
}
.nehan3-text-line-horizontal .kw-symbol{
  color:purple;
}
.nehan3-pagerize-pager-total-page{
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:14px;
}
.nehan3-pagerize-footer{
  font-size:12px;
  color:#222;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
.nehan3-pagerize-footer a:focus,
.nehan3-pagerize-footer a:hover {
  color:#09f;
}
.nehan3-pagerize-footer a {
  color:#06c;
  text-decoration:underline;
}
.nehan3-history-link{
  margin-right:5px;
}
.nehan3-history-path{
  margin-right:5px;
}

/*
from blueprintcss: Blueprint CSS Framework 1.0.1
http://blueprintcss.org
*/
.nehan3-page .error,
.nehan3-page .alert,
.nehan3-page .notice,
.nehan3-page .success,
.nehan3-page .info {
  -moz-border-radius:0.25em;
  -khtml-border-radius:0.25em;
  -webkit-border-radius:0.25em;
  border-radius:0.25em;
  padding:0;
  margin:0;
}
.nehan3-page .error,
.nehan3-page .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.nehan3-page .notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.nehan3-page .success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.nehan3-page .info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.nehan3-page .error a,
.nehan3-page .alert a {color:#8a1f11;}
.nehan3-page .notice a {color:#514721;}
.nehan3-page .success a {color:#264409;}
.nehan3-page .info a {color:#205791;}

/*!
 * CSS3 Google Buttons
 *
 * Heavily inspired by css3-github-buttons, Twitter Bootstrap, and
 * of course, Google. I don't claim ownership over any of this.
 *
 * Constructed by Tim O'Donnell (http://github.com/todc)
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover, a:active {
  outline: 0;
}
.gn-button {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  background-color: #ececec;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: -ms-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: -o-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: linear-gradient(top, #fafafa, #e1e1e1);

  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e1e1e1', GradientType=0);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  /* IE hacks */

  zoom: 1;
  z-index: 1;
  *display: inline;
  font: bold 12px Helvetica, Arial, sans-serif;
  line-height: 12px;
  color: #444444;
  min-width: 42px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  white-space: nowrap;
}
.gn-button:hover,
.gn-button:focus,
.gn-button:active,
.gn-button.active {
  color: #333;
  text-decoration: none;
  border-color: #9a9a9a;
  background-color: #dadada;
  *background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #f8f8f8, #d1d1d1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #d1d1d1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #d1d1d1);
  background-image: -o-linear-gradient(top, #f8f8f8, #d1d1d1);
  background-image: linear-gradient(top, #f8f8f8, #d1d1d1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#d1d1d1', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
  outline: none;
}

.gn-button:active, .gn-button.active {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #d1d1d1);
  background-image: -ms-linear-gradient(top, #f6f6f6, #d1d1d1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #d1d1d1);
  background-image: -o-linear-gradient(top, #f6f6f6, #d1d1d1);
  background-image: linear-gradient(top, #f6f6f6, #d1d1d1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#d1d1d1', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.gn-button:focus {
  /* Blue border on button focus. */

  border-color: #4D90FE;
}
.gn-button.checked {
  color: #333;
  text-shadow: none;
  border: 1px solid #ccc;
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -ms-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -o-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: linear-gradient(top, #eeeeee, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e0e0e0', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* overrides extra padding on button elements in Firefox */
.gn-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
